.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:disabled {
  color: black;
  background: #ccc;
  cursor: not-allowed;
}

.Success {
  color: white;
  background: #5C9210;
}

.Danger {
  color: white;
  background: #944317;
}