.Header {
  width: 100%;
  background: #333;
}

.List {
  list-style: none;
}

.Nav a{
  display: inline-block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  color: white;
}

.Nav a:hover{
  background: #444;
}

.rightNav {
  float: right;
}
